// Aside

.aside{
  max-width: 300px;
  &__item{
    position: relative;
    margin-bottom: 10px;
    &::before,
    &::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 1px;
      background-color: $basic-black;
      transition: width .5s;
    }
    &::after{
      top: auto;
      right: 0;
      bottom: 0;
      left: auto;
    }
    span{
      position: absolute;
      left: 0;
      background-color: $basic-black;
      width: 1px;
      height: 0;
      transition: height .5s;
    }
    span:nth-child(3){
      left: auto;
      right: 0;
      bottom: 0;
    }
  }
  &__item.active{
    &::before{
      width: 100%;
      transform-origin: left;
    }
    &::after{
      width: 100%;
      transform-origin: right;
      left: auto;
      right: 0;
    }
    span:nth-child(1){
      transform-origin: top;
      height: 100%;
    }
    span:nth-child(3){
      transform-origin: bottom;
      height: 100%;
    }
  }
  &__button{
    width: 100%;
    padding: 10px;
    text-align: left;
    white-space: nowrap;
  }
}