// Header

.header{
  padding: 15px 0;
  box-shadow: 0px -20px 40px $basic-black;
  margin-bottom: 20px;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__contacts{
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
}