// Menu

.menu{
  &__list{
    display: grid;
    grid-template-columns: repeat(2, 200px);
    column-gap: 30px;
  }
  &__link{
    position: relative;
    margin-bottom: 5px;
    &::before{
      content: "";
      position: absolute;
      bottom: -20%;
      right: 0;
      height: 1px;
      width: 0;
      background-color: $basic-black;
      transition: width .5s;
      transform-origin: left;
    }
    &.active::before{
      width: 100%;
    }
    &:hover::before{
      width: 100%;
      right: auto;
      left: 0;
    }
  }
  &__item{
    margin-bottom: 5px;
    &-header{
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 5px;
    }
  }
}